In [2]:
import pandas as pd
import numpy as np

In [3]:
movies = pd.read_csv('./data/movie.csv')
#rating = pd.read_csv('./data/rating.csv')
#tag = pd.read_csv('./data/tag.csv')
#g_score = pd.read_csv('./data/genome_scores.csv')
#g_tag = pd.read_csv('./data/genome_tags.csv')

In [4]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
test = 'Toy Story (1995)'

In [6]:
import re

In [41]:
m = re.search('\(\d+\)', test)

In [42]:
m.group(0)

'(1995)'

In [26]:
m.start(0)

10

In [27]:
test[:10]

'Toy Story '

In [37]:
re.split('\(\d+\)', test)

['Toy Story ', '']

In [31]:
movies['title_format'] = movies['title'].apply(lambda x: re.search('\(\d+\)',x))

In [33]:
movies[movies['title_format'].isnull()]

,movieId,title,genres,title_format
10593,40697,Babylon 5,Sci-Fi,None
15646,79607,"Millions Game, The (Das Millionenspiel)",Action|Drama|Sci-Fi|Thriller,None
17341,87442,"Bicycle, Spoon, Apple (Bicicleta, cullera, poma)",Documentary,None
22368,107434,Diplomatic Immunity (2009– ),Comedy,None
22669,108548,"Big Bang Theory, The (2007-)",Comedy,None
22679,108583,Fawlty Towers (1975-1979),Comedy,None
23617,112406,Brazil: In the Shadow of the Stadiums,Documentary,None
23824,113190,Slaying the Badger,Documentary,None
24286,115133,Tatort: Im Schmerz geboren,Crime,None
24412,115685,National Theatre Live: Frankenstein,Drama|Fantasy,None
26115,125571,The Court-Martial of Jackie Robinson,(no genres listed),None
26127,125632,In Our Garden,(no genres listed),None
26180,125958,Stephen Fry In America - New World,(no genres listed),None
26335,126438,Two: The Story of Roman & Nyro,Documentary|Drama,None
26395,126929,Li'l Quinquin,(no genres listed),None
26432,127005,A Year Along the Abandoned Road,(no genres listed),None
26749,128612,Body/Cialo,Comedy|Drama|Mystery,None
26784,128734,Polskie gówno,Comedy|Musical,None
26963,129651,The Third Reich: The Rise & Fall,(no genres listed),None
26974,129705,My Own Man,(no genres listed),None
27027,129887,Moving Alan,(no genres listed),None
27114,130454,Michael Laudrup - en Fodboldspiller,(no genres listed),None

In [34]:
movies.shape

(27278, 4)

In [35]:
# Remove from list movies with no release year
movies = movies[movies['title_format'].isnull()==False]

In [36]:
movies.shape

(27256, 4)

In [38]:
movies['title_name'] = movies['title'].apply(lambda x: re.search('\(\d+\)',x))

In [39]:
movies.head()

,movieId,title,genres,title_format,title_name
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,<_sre.SRE_Match object at 0x7f557dabecc8>,Toy Story
1,2,Jumanji (1995),Adventure|Children|Fantasy,<_sre.SRE_Match object at 0x7f557dabeb28>,Jumanji
2,3,Grumpier Old Men (1995),Comedy|Romance,<_sre.SRE_Match object at 0x7f557dabeac0>,Grumpier Old Men
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,<_sre.SRE_Match object at 0x7f557dabea58>,Waiting to Exhale
4,5,Father of the Bride Part II (1995),Comedy,<_sre.SRE_Match object at 0x7f557dabe9f0>,Father of the Bride Part II

In [44]:
movies['year'] = movies['title'].apply(lambda x: re.search('\(\d+\)',x).group(0))

In [45]:
movies.head()

,movieId,title,genres,title_format,title_name,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,<_sre.SRE_Match object at 0x7f557dabecc8>,Toy Story,(1995)
1,2,Jumanji (1995),Adventure|Children|Fantasy,<_sre.SRE_Match object at 0x7f557dabeb28>,Jumanji,(1995)
2,3,Grumpier Old Men (1995),Comedy|Romance,<_sre.SRE_Match object at 0x7f557dabeac0>,Grumpier Old Men,(1995)
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,<_sre.SRE_Match object at 0x7f557dabea58>,Waiting to Exhale,(1995)
4,5,Father of the Bride Part II (1995),Comedy,<_sre.SRE_Match object at 0x7f557dabe9f0>,Father of the Bride Part II,(1995)

In [47]:
yd = '(2009)'

In [51]:
m = re.search('\d+',yd)

In [56]:
m.group()

'2009'

In [46]:
movies.year.value_counts()

(2009)    1112
(2012)    1022
(2011)    1016
(2013)    1011
(2008)     979
(2010)     962
(2007)     902
(2006)     855
(2005)     741
(2014)     740
(2004)     706
(2002)     678
(2003)     655
(2001)     633
(2000)     613
(1998)     555
(1999)     542
(1997)     528
(1996)     509
(1995)     474
(1994)     431
(1993)     371
(1992)     335
(1988)     325
(1990)     314
(1987)     313
(1991)     312
(1989)     310
(1986)     266
(1985)     254
          ...
(1924)      30
(1921)      27
(1922)      25
(1920)      19
(1919)      17
(1916)      17
(1923)      17
(1915)      17
(1914)      13
(1917)      12
(1918)       8
(1913)       5
(1912)       5
(1898)       5
(1909)       3
(1910)       3
(1895)       2
(1894)       2
(1896)       2
(1899)       1
(1905)       1
(1893)       1
(1901)       1
(1902)       1
(69)         1
(06)         1
(1891)       1
(1900)       1
(1903)       1
(500)        1
Name: year, dtype: int64

In [57]:
movies['released_year'] = movies['year'].apply(lambda x: re.search('\d+',x).group())

In [58]:
movies.head()

,movieId,title,genres,title_format,title_name,year,released_year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,<_sre.SRE_Match object at 0x7f557dabecc8>,Toy Story,(1995),1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,<_sre.SRE_Match object at 0x7f557dabeb28>,Jumanji,(1995),1995
2,3,Grumpier Old Men (1995),Comedy|Romance,<_sre.SRE_Match object at 0x7f557dabeac0>,Grumpier Old Men,(1995),1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,<_sre.SRE_Match object at 0x7f557dabea58>,Waiting to Exhale,(1995),1995
4,5,Father of the Bride Part II (1995),Comedy,<_sre.SRE_Match object at 0x7f557dabe9f0>,Father of the Bride Part II,(1995),1995

In [59]:
movies['released_year'].value_counts()

2009    1112
2012    1022
2011    1016
2013    1011
2008     979
2010     962
2007     902
2006     855
2005     741
2014     740
2004     706
2002     678
2003     655
2001     633
2000     613
1998     555
1999     542
1997     528
1996     509
1995     474
1994     431
1993     371
1992     335
1988     325
1990     314
1987     313
1991     312
1989     310
1986     266
1985     254
        ...
1924      30
1921      27
1922      25
1920      19
1915      17
1923      17
1916      17
1919      17
1914      13
1917      12
1918       8
1898       5
1913       5
1912       5
1910       3
1909       3
1894       2
1895       2
1896       2
1899       1
1891       1
06         1
500        1
69         1
1901       1
1900       1
1903       1
1902       1
1905       1
1893       1
Name: released_year, dtype: int64

In [4]:
rating.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [5]:
rating[rating.movieId==2].rating.describe()

count    22243.000000
mean         3.211977
std          0.951150
min          0.500000
25%          3.000000
50%          3.000000
75%          4.000000
max          5.000000
Name: rating, dtype: float64

In [6]:
tag.head()

   userId  movieId            tag            timestamp
0      18     4141    Mark Waters  2009-04-24 18:19:40
1      65      208      dark hero  2013-05-10 01:41:18
2      65      353      dark hero  2013-05-10 01:41:19
3      65      521  noir thriller  2013-05-10 01:39:43
4      65      592      dark hero  2013-05-10 01:41:18

In [7]:
tag[tag.movieId==2].tag.unique()

array(['time travel', 'adapted from:book', 'board game',
       'childhood recaptured', 'game', 'herds of CGI animals', 'scary',
       'see also:Zathura', 'time', 'fantasy', 'Robin Williams',
       'Joe Johnston', 'kid flick', 'jungle', 'animals', 'Lebbat',
       'adventure', 'Children', 'Fantasy', 'Dynamic CGI Action',
       'Kirsten Dunst', 'For children', 'childish', 'children',
       'Filmed in BC', 'bad cgi', 'based on a book', 'Chris Van Allsburg',
       'magic board game', 'monkey', 'Saturn Award (Best Special Effects)',
       'Saturn Award (Best Supporting Actress)', 'CLV',
       'horrifying (but not Horror genre)', 'not for kids'], dtype=object)

In [8]:
g_score.head()

   movieId  tagId  relevance
0        1      1    0.02500
1        1      2    0.02500
2        1      3    0.05775
3        1      4    0.09675
4        1      5    0.14675

In [9]:
movies.shape, g_score.shape, g_tag.shape, tag.shape, len(tag.tag.unique())

((27278, 3), (11709768, 3), (1128, 2), (465564, 4), 38644)

In [11]:
g_tag.head()

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [17]:
# Change Dates columns to Python Date format
tag['timestamp'] = pd.to_datetime(tag['timestamp'], format='%Y-%m-%d %H:%M:%S')
rating['timestamp'] = pd.to_datetime(rating['timestamp'], format='%Y-%m-%d %H:%M:%S')

In [18]:
tag.head()

   userId  movieId            tag           timestamp
0      18     4141    Mark Waters 2009-04-24 18:19:40
1      65      208      dark hero 2013-05-10 01:41:18
2      65      353      dark hero 2013-05-10 01:41:19
3      65      521  noir thriller 2013-05-10 01:39:43
4      65      592      dark hero 2013-05-10 01:41:18

In [19]:
rating.head()

   userId  movieId  rating           timestamp
0       1        2     3.5 2005-04-02 23:53:47
1       1       29     3.5 2005-04-02 23:31:16
2       1       32     3.5 2005-04-02 23:33:39
3       1       47     3.5 2005-04-02 23:32:07
4       1       50     3.5 2005-04-02 23:29:40

In [20]:
# Extract Date Features
import datetime as dt
rating['hour'] = rating['timestamp'].dt.hour
rating['weekday'] = rating['timestamp'].dt.weekday
rating['month'] = rating['timestamp'].dt.month
rating['quarter'] = rating['timestamp'].dt.quarter
rating['year'] = rating['timestamp'].dt.year

tag['hour'] = tag['timestamp'].dt.hour
tag['weekday'] = tag['timestamp'].dt.weekday
tag['month'] = tag['timestamp'].dt.month
tag['quarter'] = tag['timestamp'].dt.quarter
tag['year'] = tag['timestamp'].dt.year

In [21]:
rating.head()

,userId,movieId,rating,timestamp,hour,weekday,month,quarter,year
0,1,2,3.5,2005-04-02 23:53:47,23,5,4,2,2005
1,1,29,3.5,2005-04-02 23:31:16,23,5,4,2,2005
2,1,32,3.5,2005-04-02 23:33:39,23,5,4,2,2005
3,1,47,3.5,2005-04-02 23:32:07,23,5,4,2,2005
4,1,50,3.5,2005-04-02 23:29:40,23,5,4,2,2005

In [22]:
tag.head()

,userId,movieId,tag,timestamp,hour,weekday,month,quarter,year
0,18,4141,Mark Waters,2009-04-24 18:19:40,18,4,4,2,2009
1,65,208,dark hero,2013-05-10 01:41:18,1,4,5,2,2013
2,65,353,dark hero,2013-05-10 01:41:19,1,4,5,2,2013
3,65,521,noir thriller,2013-05-10 01:39:43,1,4,5,2,2013
4,65,592,dark hero,2013-05-10 01:41:18,1,4,5,2,2013